
# Formato: mysql://USUARIO:CONTRASEÑA@HOST:PUERTO/NOMBRE_BD

DATABASE_URL="mysql://usuario:contraseña@localhost:3306/sistema_inventario"
FRONTEND_URL="http://localhost:5173"

# Servidor Backend (Express)
PORT=3000
NODE_ENV=development

# Autenticación JWT
# Llave secreta para firmar el token de acceso diario
JWT_ACCESS_SECRET="tu_clave_secreta_para_access_token"

# Llave secreta para firmar el token de renovación (refresh token)
JWT_REFRESH_SECRET="tu_clave_secreta_para_refresh_token"

# Tiempo de vida del token de acceso
JWT_ACCESS_EXPIRES_IN="15m"

# Tiempo de vida del token de renovación
JWT_REFRESH_EXPIRES_IN="30m"